/*Root css file*/

/*Settings for iframe redactor*/
.redactor_box iframe {
    height:300px !important;
}
.redactor_box_fullscreen iframe {
    height:95% !important;
}

#redactor_image_box img {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    max-width: 100px;
}

.sortable li {
    list-style-type:none;
}
.sortable li div {
    padding: 4px;
    margin:2px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);

}
.sortable li div input { 
    margin:0;
    padding:1px;
}
.sortable li div a { 
    float:right;
    padding:5px;
}

.sortable .invizibil {
    background-color: #E7E7E7;
}

.sortable .menu {
    background-color: #ECF2FD;
    text-align: center;
    text-transform: uppercase;
}
