/* A properties for frontend compacted layout */

.container {
    width:420px;
    //padding-top: 107px !important;
    background: transparent;
}

.buffer {
    height: 219px;
}

.transformed{
        margin: 24px 0;
    
}
.transformed:before {
    border:1px solid #a8a89f;
    display: block;
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    -webkit-transform: rotate(-2deg) scaleX(0.97);
    -moz-transform: rotate(-2deg) scaleX(0.97);
    -ms-transform: rotate(-2deg) scaleX(0.97);
    -o-transform: rotate(-2deg) scaleX(0.97);
    transform: rotate(-2deg) scaleX(0.97);

    background-color: #e3e3e5;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.18), inset 0 1px 1px #fff;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.18), inset 0 1px 1px #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.18), inset 0 1px 1px #fff;
}
h1 {
    line-height: 56px;
    font-size: 24px;
    color:  #fff;
    font-weight: normal;
    -webkit-text-shadow: 1px 0 1px  rgba(0,0,0,0.25);
    -moz-text-shadow:1px  0 1px rgba(0,0,0,0.25);
    text-shadow: 1px 0 1px  rgba(0,0,0,0.25);
}

h1.twice {
    line-height: 34px;
    margin-bottom: 22px;
}

h1 p {
    font-size: 16px;
    margin-top: -12px;
}

h1 img {
    float: left;
}

.form label {
    text-shadow:  0 1px 0 rgba(255,255,255,0.25);
}

.form form {
    margin: 0;
}
.form .row {
    margin: 0;
}

.form {
    padding: 20px;
}
.form .row {
    margin-bottom: 3px;
}

label {
    font-size: 16px;
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    height: 29px;
    width:366px;
    font-size: 16px;
    border: 1px solid #babab4;
    border-radius: 4px; 
    background: -moz-linear-gradient(left, #cfd2d3, #dadad3); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(left, #cfd2d3, #dadad3);
    background: -o-linear-gradient(left, #cfd2d3, #dadad3); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #cfd2d3, #dadad3); /* IE10 */
    background: linear-gradient(left, #cfd2d3, #dadad3); /* CSS3 */ 

    -webkit-box-shadow: 0 1px 0  rgba(255,255,255,0.75), inset 0 5px 10px rgba(0,0,0,0.17); 
    -moz-box-shadow: 0 1px 0  rgba(255,255,255,0.75), inset 0 5px 10px rgba(0,0,0,0.17); 
    box-shadow: 0 1px 0  rgba(255,255,255,0.75), inset 0 5px 10px rgba(0,0,0,0.17); 
}

input.password:after {
    background: url(/images/design/fixed/input/password.png) 100% 0 no-repeat;
}

.prefixed label {
    position: absolute;
    line-height: 38px;
    width: 77px;
    padding-left: 14px;
    color:#fff;
    text-shadow: 1px 0 1px rgba(0,0,0,0.25);
    background: url(/images/design/fixed/input/bg_prepend_small.png) 0 0 no-repeat;
}

.prefixed.large label {
    background: url(/images/design/fixed/input/bg_prepend_large.png) 0 0 no-repeat;
}


.prefixed textarea, 
.prefixed  input[type="text"], 
.prefixed input[type="password"], 
.prefixed input[type="datetime"], 
.prefixed input[type="datetime-local"], 
.prefixed input[type="date"], 
.prefixed input[type="month"], 
.prefixed input[type="time"], 
.prefixed input[type="week"], 
.prefixed input[type="number"], 
.prefixed input[type="email"], 
.prefixed input[type="url"], 
.prefixed input[type="search"], 
.prefixed input[type="tel"], 
.prefixed input[type="color"], 
.prefixed .uneditable-input  {
    width:287px;
    padding-left: 85px;
}

.prefixed.large textarea, 
.prefixed.large  input[type="text"], 
.prefixed.large input[type="password"], 
.prefixed.large input[type="datetime"], 
.prefixed.large input[type="datetime-local"], 
.prefixed.large input[type="date"], 
.prefixed.large input[type="month"], 
.prefixed.large input[type="time"], 
.prefixed.large input[type="week"], 
.prefixed.large input[type="number"], 
.prefixed.large input[type="email"], 
.prefixed.large input[type="url"], 
.prefixed.large input[type="search"], 
.prefixed.large input[type="tel"], 
.prefixed.large input[type="color"], 
.prefixed.large .uneditable-input  {
    width:277px;
    padding-left: 95px;
}

input.person {
    background: url(/images/design/fixed/input/login.png) center right 10px no-repeat, -moz-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/login.png) center right 10px no-repeat, -webkit-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/login.png) center right 10px no-repeat, -o-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/login.png) center right 10px no-repeat, -ms-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/login.png) center right 10px no-repeat, linear-gradient(left, #cfd2d3, #dadad3);
}

input.credential {
    background: url(/images/design/fixed/input/password.png) center right 10px no-repeat, -moz-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/password.png) center right 10px no-repeat, -webkit-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/password.png) center right 10px no-repeat, -o-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/password.png) center right 10px no-repeat, -ms-linear-gradient(left, #cfd2d3, #dadad3);
    background: url(/images/design/fixed/input/password.png) center right 10px no-repeat, linear-gradient(left, #cfd2d3, #dadad3);
}

.form .input-prepend input{
    width:338px;
}

.row.buttons {
    margin-top: 20px;
}