/* A properties for frontend fixed layout */

.main-content {
    margin: 24px 0;
}

.grid-view{
    padding-top: 0;
}

.grid-view table.items td:first-child, .grid-view table.items th:first-child {
    padding-left: 31px;
}

.grid-view table {
    border-top:1px solid #a8a89f;
    
}

.fhead {
    background-color: #fff;
    z-index: 0;

}
.fhead h1 {
    margin: 0;
    padding: 10px 0  0 20px;
}

.container {
   // padding-top: 64px !important;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: transparent;
}

.transformed:before {
    display: none;
}

body {
    background: #d4d3c9;
    background: 
        url(/images/design/fixed/bg.png) top right repeat-x, 
        -moz-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: 
        url(/images/design/fixed/bg.png) top right repeat-x, 
        -webkit-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6);
    background:         
        url(/images/design/fixed/bg.png) top right repeat-x, 
        -o-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Opera 11.10+ */
    background:        
        url(/images/design/fixed/bg.png) top right repeat-x,  
        -ms-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* IE10 */
    background:         
        url(/images/design/fixed/bg.png) top right repeat-x, 
        linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* CSS3 */ 
}

.header-buffer {
    height: 117px;
}

