/*Only for front layout css file*/

.transformed {
    position: relative;

    border:1px solid #a8a89f;

    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.12), inset 0 1px 1px #fff;
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.12), inset 0 1px 1px #fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.12), inset 0 1px 1px #fff;

    background: #e5e9ea; 
    background: -moz-linear-gradient(left, #e5e9ea, #f2f2ea);
    background: -webkit-linear-gradient(left, #e5e9ea, #f2f2ea);
    background: -o-linear-gradient(left, #e5e9ea, #f2f2ea);
    background: -ms-linear-gradient(left, #e5e9ea, #f2f2ea);
    background: linear-gradient(left, #e5e9ea, #f2f2ea);
}

.blacked {
    background-color: #FFD8D8;
}


#page {
    padding-top: 0px;
}


.box_rotate {
    -moz-transform: rotate(7.5deg);  /* FF3.5+ */
    -o-transform: rotate(7.5deg);  /* Opera 10.5 */
    -webkit-transform: rotate(7.5deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
.table .cell_sep{
    width:1px;
    padding:0px;
    color: #d8d8d8;
    border-left: 2px dotted;
}

.toggled-content.collapsed{
    display: none;
}


/*Design*/
@font-face {
    font-family: OfficinaSans; /* Гарнитура шрифта */  
    src: url('/fonts/OfficinaSans/officinasansc-book-webfont.eot');
    src: url('/fonts/OfficinaSans/officinasansc-book-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/OfficinaSans/officinasansc-book-webfont.woff') format('woff'), url('/fonts/OfficinaSans/officinasansc-book-webfont.ttf') format('truetype'), url('/fonts/OfficinaSans/officinasansc-book-webfont.svg#OfficinaSansCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #202020;
    font-family: OfficinaSans,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

input, button, select, textarea {
    font-family: OfficinaSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #9b959c;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #595959;
    font-size: 16px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #595959;
    font-size: 16px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #595959;
    font-size: 16px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #595959;
    font-size: 16px;
}

.designed-select button, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
    color: #202020;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.55);
}

.designed-select{
    height: 30px;
    margin-bottom: 10px;
    width: 220px;
}

label.designed-select {
    cursor:pointer;
    position: relative;
}

.designed-select select {
    width: 100%;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -moz-appearance:none;
    appearance:none;
    text-indent:0.01px;
    text-overflow: '';
}

.designed-select .selectpicker {
    width: 100%;
    height: 100%;
}

.filter .designed-select.bootstrap-select.btn-group {
    float:right;
}

/*customzie bootstrap select*/

.bootstrap-select .popover-title .close {
    margin-top: -3px;
}
.bootstrap-select .popover-title.active a {
    color: #0077b3;
    background: none;
}

.bootstrap-select .popover-title.active a:hover{
    text-decoration: underline;
    color: #0077b3;
    background: none;
}

.designed-select:after {
    content: ' ';
    background: url('/images/design/filter/select-arrow.png') right 10px no-repeat;
    height: 100%;
    width: 15px;
    right:8px;
    position:absolute;
    pointer-events:none;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: rgba(255,255,255,0.55);
    border: 1px solid #9b959c;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    //position: static;
}

.navbar .nav {
    margin: 0;
}

.navbar .nav:last-child {
    padding-right: 10px;
}

.navbar-fixed-top .navbar-inner{
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none; 
    height: 51px;
    border-bottom:1px solid #b1b2ac;
    background: #d4d3c9; /* Для старых браузров */
    background: -moz-linear-gradient(left, #e5ecf0, #eaeeeb 40%, #eaeaf0 75%, #e5ecf0 100%); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(left, #e5ecf0, #eaeeeb 40%, #eaeaf0 75%, #e5ecf0 100%);
    background: -o-linear-gradient(left, #e5ecf0, #eaeeeb 40%, #eaeaf0 75%, #e5ecf0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e5ecf0, #eaeeeb 40%, #eaeaf0 75%, #e5ecf0 100%); /* IE10 */
    background: linear-gradient(left, #e5ecf0, #eaeeeb 40%, #eaeaf0 75%, #e5ecf0 100%); /* CSS3 */ 
}

.navbar .brand {
    font-size: 28px;
    color: #525252;
}
.navbar .nav > li {
    margin-right: 10px;
}
.navbar .nav > li > a {
    color:#414141;
    font-size: 18px;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    padding: 10px 5px;
    height: 15px;
}

.navbar-inner .container-fluid {
    padding: 5px 5px 0 24px;
}

.container-fluid {
    padding:0px;
}

.row-fluid .filter-content{
    padding: 0 20px 0 24px;
}

.row-fluid .fhead-content {
    padding: 0 20px;
}

.fhead img {
    margin-right: 15px;
}

.fhead {
    height: 60px;
    font-size: 24px;
}
.fhead .buttons {
    margin-top: 15px;
}

.btn.export-btn, .btn.submit {
    background: #e0dce0; /* Для старых браузров */
    background: -moz-linear-gradient(bottom, #b5b0b5, #e0dce0); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom, #b5b0b5, #e0dce0);
    background: -o-linear-gradient(bottom, #b5b0b5, #e0dce0); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #b5b0b5, #e0dce0); /* IE10 */
    background: linear-gradient(bottom, #b5b0b5, #e0dce0); /* CSS3 */ 
    border: 1px solid #706970;
    border-radius: 3px;
}

.btn.export-btn:hover, .btn.submit:hover{
    background: -moz-linear-gradient(bottom, #c2bac0, #ede6eb); 
    background: -webkit-linear-gradient(bottom, #c2bac0, #ede6eb);
    background: -o-linear-gradient(bottom, #c2bac0, #ede6eb); 
    background: -ms-linear-gradient(bottom, #c2bac0, #ede6eb);
    background: linear-gradient(bottom, #c2bac0, #ede6eb);
}

.btn.export-btn:active, .btn.submit:active{
    background: -moz-linear-gradient(bottom, #e5e3e5, #c2bac0); 
    background: -webkit-linear-gradient(bottom, #e5e3e5, #c2bac0);
    background: -o-linear-gradient(bottom, #e5e3e5, #c2bac0); 
    background: -ms-linear-gradient(bottom, #e5e3e5, #c2bac0);
    background: linear-gradient(bottom, #e5e3e5, #c2bac0);
    border: 1px solid #968d94;
    text-shadow: none;
}


.btn.wiki-btn {
	background: #97deff; /* Old browsers */
	background: -moz-linear-gradient(top,  #97deff 0%, #24baf8 50%, #0593df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97deff), color-stop(50%,#24baf8), color-stop(100%,#0593df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97deff 0%,#24baf8 50%,#0593df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97deff 0%,#24baf8 50%,#0593df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97deff 0%,#24baf8 50%,#0593df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #97deff 0%,#24baf8 50%,#0593df 100%); /* W3C */

	border: 1px solid  #1d71b2;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);    
    border-radius: 3px;
}

.btn.wiki-btn:hover{
	background: #9fe7ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #9fe7ff 0%, #37c5ff 50%, #05a0ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fe7ff), color-stop(50%,#37c5ff), color-stop(100%,#05a0ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9fe7ff 0%,#37c5ff 50%,#05a0ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9fe7ff 0%,#37c5ff 50%,#05a0ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9fe7ff 0%,#37c5ff 50%,#05a0ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9fe7ff 0%,#37c5ff 50%,#05a0ee 100%); /* W3C */
}

.btn.wiki-btn:active{
	background: #0593df; /* Old browsers */
	background: -moz-linear-gradient(top,  #0593df 0%, #24baf8 50%, #97deff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0593df), color-stop(50%,#24baf8), color-stop(100%,#97deff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0593df 0%,#24baf8 50%,#97deff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0593df 0%,#24baf8 50%,#97deff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0593df 0%,#24baf8 50%,#97deff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0593df 0%,#24baf8 50%,#97deff 100%); /* W3C */
    text-shadow: none;
}

.fhead h1 {
    font-size: 24px;
    color: #009ae9;
}
.fhead h1, h2, h3, h4, h5, h6,
.filter h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
.toggled-title{
    margin: 9px 0;
    color:#fff;
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    -moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);

}

.filter .toggled-title > :first-child {
    cursor: pointer;
}

.filter .toggled-content {
    clear: both;
}

.filter .lever {
    line-height: 20px;
    margin: 0;
    margin-right: 20px;
    margin-top: 4px;
}
.filter .toggled-content > :first-child {
    margin-bottom: 20px;
}
.filter .toggled-content > :last-child {
    margin-bottom: 10px;
}


.caret {
    border:none;
    width:13px;
    height: 9px;
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 6px;
}

.navbar .caret {
    background: url('/images/design/down.png');
}


.btn[type="reset"] {

    border:1px solid #564b56;

    background: -moz-linear-gradient(bottom, #aca7ac, #cec9ce 95%, rgba(255,255,255,075)); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom, #aca7ac, #cec9ce 95%, rgba(255,255,255,075));
    background: -o-linear-gradient(bottom, #aca7ac, #cec9ce 95%, rgba(255,255,255,075)); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #aca7ac, #cec9ce 95%, rgba(255,255,255,075)); /* IE10 */
    background: linear-gradient(bottom, #aca7ac, #cec9ce 95%, rgba(255,255,255,075)); /* CSS3 */  
}

.btn[type="reset"]:hover {
    background: -moz-linear-gradient(bottom, #bab1b8, #d9d2d7 95%, rgba(255,255,255,075)); 
    background: -webkit-linear-gradient(bottom, #bab1b8, #d9d2d7 95%, rgba(255,255,255,075));
    background: -o-linear-gradient(bottom, #bab1b8, #d9d2d7 95%,  rgba(255,255,255,075)); 
    background: -ms-linear-gradient(bottom, #bab1b8, #d9d2d7 95%,  rgba(255,255,255,075));
    background: linear-gradient(bottom, #bab1b8, #d9d2d7 95%,  rgba(255,255,255,075));
}

.btn[type="reset"]:active {
    border:1px solid #836f7e;
    text-shadow: none;
    background: -moz-linear-gradient(bottom, #ccc6ca, #b0a7ae); 
    background: -webkit-linear-gradient(bottom, #ccc6ca, #b0a7ae);
    background: -o-linear-gradient(bottom, #ccc6ca, #b0a7ae); 
    background: -ms-linear-gradient(bottom, #ccc6ca, #b0a7ae);
    background: linear-gradient(bottom, #ccc6ca, #b0a7ae);
}
.btn {
    margin:  0 2px;
    font-size: 16px;
    color: #000;
    padding: 5px 16px;
    border-radius: 3px;

    -webkit-text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    -moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

    /* border-top: 1px solid rgba(255,255,255,0.75); */
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);

}

.btn.btn-primary {
    border:1px solid #005999;
    background: -moz-linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff 95%, rgba(255,255,255,075));
    background: -webkit-linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff 95%, rgba(255,255,255,075));
    background: -o-linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff 95%, rgba(255,255,255,075));
    background: -ms-linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff 95%, rgba(255,255,255,075));
    background: linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff 95%, rgba(255,255,255,075));
}
.btn:hover {
    color: #333333;
}
.btn.btn-primary:hover {
    background: -moz-linear-gradient(bottom, #0094de, #0bb8ff 50%, #a5e2ff 95%, rgba(255,255,255,075));
    background: -webkit-linear-gradient(bottom, #0094de, #0bb8ff 50%, #a5e2ff 95%,  rgba(255,255,255,075));
    background: -o-linear-gradient(bottom, #0094de, #0bb8ff 50%, #a5e2ff 95%,  rgba(255,255,255,075));
    background: -ms-linear-gradient(bottom, #0094de, #0bb8ff 50%, #a5e2ff 95%,  rgba(255,255,255,075));
    background: linear-gradient(bottom, #0094de, #0bb8ff 50%, #a5e2ff 95%,  rgba(255,255,255,075));
}
.btn.btn-primary:active {
    color: #000;
    text-shadow: none;
    background: -moz-linear-gradient(bottom, #0bb8ff, #0bb8ff 30%, #0094de);
    background: -webkit-linear-gradient(bottom, #0bb8ff, #0bb8ff 30%, #0094de);
    background: -o-linear-gradient(bottom, #0bb8ff, #0bb8ff 30%, #0094de);
    background: -ms-linear-gradient(bottom, #2d89ca, #4aaff6 50%, #aeddff);
    background: linear-gradient(bottom, #0bb8ff, #0bb8ff 30%, #0094de);
}

/*Player*/

.jouele-name {
    min-height: 10px;
}

.jouele-total-time {
    margin-right: 20px;
}

.jouele-time {
    color: #6b6969;
    font-size: 10px;
}
.jouele-status-playing .jouele-time{
    color: #000;
}

.jouele-play{
    background: url('/images/design/record/play.png');
    width: 15px;
    height: 15px;
}
.jouele-download{
    background: url('/images/design/record/download.png');
}
.jouele-pause{
    background: url('/images/design/record/stop.png');
}
.jouele-play-control{
    top:11px;

}
.jouele-download{
    top:11px;
}
.jouele .jouele-play-time:after{
    content:' /';
}

.jouele-mine-bar {
    box-shadow: none;
    cursor: pointer;
    width:139px;
    height: 10px;
    border: none;
    border-radius: 10px;
    background: url('/images/design/record/progress_middle.png');
    background-repeat: repeat-x;
}
.jouele-progress-area { 
    width: 139px;
    margin: 0 auto;
}
.jouele-load-bar{
    border-radius: 0;
    visibility: hidden;

}



.jouele-play-bar{
    display: none;
    top:6px;
    border-radius: 3px;
    cursor: pointer;
    height: 4px;
    border: 1px solid #007dd8;

    background: -moz-linear-gradient(bottom, #2097d6, #4bb6e9 30%, #68d3f5); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom, #2097d6, #4bb6e9 30%, #68d3f5);
    background: -o-linear-gradient(bottom, #2097d6, #4bb6e9 30%, #68d3f5);
    background: -ms-linear-gradient(bottom, #2097d6, #4bb6e9 30%, #68d3f5);
    background: linear-gradient(bottom, #2097d6, #4bb6e9 30%, #68d3f5);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .jouele-mine-bar {
        border-radius: 0;
    }
    .jouele-mine-bar:before {
        position:absolute;
        width: 6px;
        height: 10px;
        content: " ";
        left: -6px;
        background: url('/images/design/record/progress_left.png');
        background-repeat: no-repeat;
    }
    .jouele-mine-bar:after {
        position:absolute;
        width: 6px;
        height: 10px;
        content: " ";
        left: 139px;
        background: url('/images/design/record/progress_right.png');
        background-repeat: no-repeat;
    }

    .jouele-play-bar-after{
        display: block;
        top:4px;
        position:absolute;
        width: 6px;
        height: 10px;
        content: " ";
        background: url('/images/design/record/progress_right_blue.png');
        background-repeat: no-repeat;
        z-index: 30;
    }
    .jouele-play-bar-before{
        display: block;
        top:4px;
        position:absolute;
        width: 6px;
        height: 10px;
        content: " ";
        left: -6px;
        background: url('/images/design/record/progress_left_blue.png');
        background-repeat: no-repeat;
        z-index: 30;
    }

    .jouele-play-bar {
        top:4px;
        cursor: pointer;
        height: 10px;
        border: none;
        border-radius: 0;
        background: url('/images/design/record/progress_middle_blue.png');
        background-repeat: repeat-x;
    }
}



/*Navigation*/

.navbar .dropdown-menu {
    padding: 0;
    border-radius: 3px;
    border: 1px solid #a2a39b;
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.45);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.45);
}

.navbar .nav > li > .dropdown-menu:before {
    border-bottom-color: #a2a39b;
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom-color: #e8edec;
}

.navbar .dropdown-menu li {
    background: -moz-linear-gradient(bottom, #f1f4f3, #e8edec); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom, #f1f4f3, #e8edec);
    background: -o-linear-gradient(bottom, #f1f4f3, #e8edec); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #f1f4f3, #e8edec); /* IE10 */
    background: linear-gradient(bottom, #f1f4f3, #e8edec); /* CSS3 */ 
    border-top: solid 1px #fff;
    border-bottom: solid 1px #c1c1b9;
}

.navbar .dropdown-menu li.active a {
    color:#fff;
}

.navbar .dropdown-menu li:first-child {
    border-top:none;
    border-radius: 3px 3px 0 0;
}
.navbar .dropdown-menu li:last-child {
    border-radius: 0 0 3px 3px;
}

.navbar .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #61bdfe;
    background-image:none;
    color: #000;
}

.navbar .dropdown-menu li a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #414141;
    -webkit-text-shadow: 0px 1px 0px rgba(255,255,255,0.65);
    -moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.65);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.65);
}

.nav .navico {
    margin-top: -3px;
    float:left;
    width:28px;
    height: 28px;
}
.nav .sett .navico{
    background: url('/images/design/settings.png') no-repeat;
}
.nav .login .navico{
    background: url('/images/design/login.png') no-repeat;
}
.nav .logout .navico{
    background: url('/images/design/login.png') no-repeat;
}
.nav .admin .navico{
	margin-top: 0px;
    background: url('/images/design/admin.png') no-repeat;
}
.nav .cdr .navico{
    background: url('/images/design/cdr.png') no-repeat;
}
.nav .reports .navico{
    background: url('/images/design/reports.png') no-repeat;
}
.nav .monitoring .navico{
    background: url('/images/design/monitoring.png') no-repeat;
}
.nav .pb .navico{
    background: url('/images/design/pb.png') no-repeat;
}


/*Filter*/

.filter.active{
    background: #d4d3c9;
    background: 
        url(/images/design/filter/bg-active.png) 0 0 repeat-x,  
        url(/images/design/filter/logo-active.png) top right 48px no-repeat, 
        -moz-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: 
        url(/images/design/filter/bg-active.png) 0 0 repeat-x,  
        url(/images/design/filter/logo-active.png) top right 48px no-repeat, 
        -webkit-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6);
    background:         
        url(/images/design/filter/bg-active.png) 0 0 repeat-x,  
        url(/images/design/filter/logo-active.png) top right 48px no-repeat, 
        -o-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Opera 11.10+ */
    background:        
        url(/images/design/filter/bg-active.png) 0 0 repeat-x,  
        url(/images/design/filter/logo-active.png) top right 48px no-repeat, 
        -ms-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* IE10 */
    background:         
        url(/images/design/filter/bg-active.png) 0 0 repeat-x,  
        url(/images/design/filter/logo-active.png) top right 48px no-repeat, 
        linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* CSS3 */ 
    /*    background-repeat: repeat-x; */
}

.filter{
    background: #d4d3c9;
    background: 
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        url(/images/design/filter/logo.png) top right 48px no-repeat, 
        -moz-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: 
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        url(/images/design/filter/logo.png) top right 48px no-repeat, 
        -webkit-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6);
    background:         
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        url(/images/design/filter/logo.png) top right 48px no-repeat, 
        -o-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Opera 11.10+ */
    background:        
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        url(/images/design/filter/logo.png) top right 48px no-repeat, 
        -ms-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* IE10 */
    background:         
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        url(/images/design/filter/logo.png) top right 48px no-repeat, 
        linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* CSS3 */ 
    border-top: 1px solid #b1b2ac;
    border-bottom: 1px solid #b1b2ac;
    /*    background-repeat: repeat-x; */
}

.filters{
    height: 50px;
    background: #d4d3c9  url(/images/design/filter/bg.png) 0 0 repeat-x;
    background: 
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        -moz-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background:         
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        -o-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* Opera 11.10+ */
    background:        
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        -ms-linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* IE10 */
    background:         
        url(/images/design/filter/bg.png) 0 0 repeat-x,  
        linear-gradient(left, #d4d3c9, #c8cec2 17%, #d1cec2 34%, #c9d0d6 64%, #c9ccd6 81%, #cfcac6); /* CSS3 */ 
    border-top: 1px solid #b1b2ac;
    border-bottom: 1px solid #b1b2ac;
    /*    background-repeat: repeat-x; */
}

.filter .line {
    height: 2px;
    width: 100%;
    background: url(/images/design/filter/line.png) repeat-x;
}

.filter form {
    margin:0;
}

.filter label {
    display: inline;
    font-size: 16px;
    color: #202020;
}

.controls {
    min-width: 300px;
}


/*
@media (min-width: 1200px) {
    .controls:not(:first-child) {
        margin-left: 20px !important;
    }}
*/
.controls2 {
    min-width: 640px;
}
.filter .designed-select,
.filter select[class*="span"], 
.filter textarea, 
.filter input[type="text"], 
.filter input[type="password"], 
.filter input[type="datetime"], 
.filter input[type="datetime-local"], 
.filter input[type="date"], 
.filter input[type="month"], 
.filter input[type="time"], 
.filter input[type="week"], 
.filter input[type="number"], 
.filter input[type="email"], 
.filter input[type="url"], 
.filter input[type="search"], 
.filter input[type="tel"], 
.filter input[type="color"], 
.uneditable-input {
    color: #202020;
    float: right;
}

.icon-chevron-up, .icon-chevron-down{
    margin-right: 10px;
}

.icon-chevron-up {
    height: 24px;
    width: 24px;
    background: url('/images/design/filter/arrow.png');
}

.icon-chevron-down {
    height: 24px;
    width: 24px;
    background: url('/images/design/filter/arrow-active.png');
}

.form div[class='span10'] {
    margin: 0;
}

.toggled-title {
    line-height: 33px;
}
.toggled-title input {
    margin:0;
    float: none !important;
}

/*highcharts*/
.highcharts {
    margin-top: 40px;
}
.highcharts > div{
    position: relative;
}

.highcharts > div:first-child{
    padding-left: 20px;
}
.highcharts > div:last-child{
    padding-right: 20px;
}

.chartToolTips {
    z-index: 101;
    position: absolute;
    right: 20px;
    top:6px;
    width: 100%;
}
.chartToolTips > span{
    float: right;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
#btnPrint {
    cursor: pointer;
    background-image: url(/images/design/reports/print.png);   
}
#btnExport{
    cursor: pointer;
    background-image: url(/images/design/reports/export.png);    
}
#btnInfo {
    background-image: url(/images/design/reports/info.png);    
}
#btnExport .caret {
    height: 20px;
    width: 20px;
}

.chartToolTips > span:hover {
    background-position: 0 -20px;
}


/*Alert*/

.alert {
    position: absolute;
    padding: 0;
    top: 83px;
    left: 50%;
    width: 380px;
    line-height: 50px;
    text-align: center;
    margin-left: -190px;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.alert .close {
    top:6px;
    right: 8px;
}

.alert-info {
    background: #98dfff;
    color: #0080b9;
    border: 1px solid #29a8ff;
}

.alert-info .close {
    color: #0085c1;
    opacity: 1;
}