
.c_redtext {
	color: #ff0000;
}

.grid-view-loading table thead:after { 	
	content: url(/images/loading.gif) ' Loading..'; 
}

.labelname {
	color: rgb(0, 154, 233);
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	white-space: pre;	
}
	
.labevalue {
	font-size: 17px;
	font-weight: normal;
	display: inline-block;
	white-space: pre;
}	
	
.subreptitle {
	color: rgb(0, 154, 233);
	display: block;
	font-family: OfficinaSans, Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-shadow: silver 0px 1px 0px;
	#background-color: rgb(224, 224, 224);
		
	padding: 10px;
	text-rendering: optimizelegibility;	
}

.main-content .grid-view {
    padding: 0;
}

/*Pagination*/

.main-content .pagination {
    margin: 0;
    float: left;
}

.pagination{
    font-size: 16px;
}
.pagination ul {
    box-shadow:none;
}
.pagination ul > li > a, .pagination ul > li > span {
    color: #41454a;
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-left-width: 0;
}
.pagination ul > li > a > img {
    padding-bottom: 4px;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #2b98e6;
    background-color: transparent;
    cursor: default;
}
.pagination ul > li > a:hover{
    background-color: transparent;
}

.gwfooter {
    height: 46px;
    padding: 0px 1px 0 15px;
}

/*Pagination End*/


.table .even{
    background: #fff;
    #border-top: 1px solid #fff;
}
.table .odd{
    #border-top: 1px solid #f4f1f3;
    background: #eeeeec;
}

.grid-view table.items th a.sort-link.asc .icon-sort-down,
.grid-view table.items th a.sort-link.desc .icon-sort-up  {
    /*position: relative;*/
    position: absolute;
    width: 13px;
    height: 9px;
    right: -14px;
    top:5px;
    bottom: 5px;
    background-repeat: no-repeat;
    display: inline-block ;
}

.grid-view table.items th a.sort-link.asc .icon-sort-down {
    background: url('/images/design/blue-down.png');
}

.grid-view table.items th a.sort-link.desc .icon-sort-up {
    background: url('/images/design/blue-up.png');
}

.grid-view thead .designed-select {
    margin: 0px;
}

.grid-view table.items th a {
    margin-right: 25px;
}

.grid-view table tbody {
    white-space: nowrap;
}

.grid-view table.items th:hover a:after {
    background: none;
}

.grid-view table.items tr.selected{
    background: #b3d9f4; /* Для старых браузров */                
}

.grid-view table.items tr.selected td{	
    border-top: 1px double #6eafdd;
    border-bottom: 1px solid #6eafdd;
    background: transparent;	
}

/*********************************************************************/
.table td {	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.filter .nextline {
	margin-bottom: 10px;
}

.tbrelational-columnimg {
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;	   
	display: block;
	margin: 0 auto;
	margin-top: 2px;
	
	background-position: center;
	background-repeat: no-repeat;	
	height: 20px;
	width: 20px;		
}

.rtrdown .tbrelational-columnimg {	
	background-image: url('/images/20/ic_more.png');
}
.rtrdown .tbrelational-columnimg:hover {	
	background-image: url('/images/20/ic_more_hover.png');
}

.rtrup .tbrelational-columnimg {	
	background-image: url('/images/20/ic_less.png');
}
.rtrup .tbrelational-columnimg:hover {	
	background-image: url('/images/20/ic_less_hover.png');
}

.addphoneimg {
	margin-top: 4px;	
	float: right;
	text-align: right;
	vertical-align: middle;
	
	height: 15px;
	width: 15px;	
	background-position: right;
	background-repeat: no-repeat;
}
	
.addphoneimg {	
	background-image: url('/images/15/ic_add_phone.png');
}
.addphoneimg:hover {	
	background-image: url('/images/15/ic_add_phone_hover.png');
}

.summlink {
	color: #005984;
	color: rgb(32, 32, 32);
}

.grid-view .items tbody, .grid-view .items tfoot {
	font-family: OfficinaSans, Helvetica, Arial, sans-serif ;
}
	
.grid-view table {
	border: #ccc 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	border-collapse: collapse;		
}	

.grid-view table.items tr td {	
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;		
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 23px ;
}
	
.grid-view table thead th {
	font-family: OfficinaSans, Helvetica, Arial, sans-serif ;
	text-align: center;
	border-width: 1px;
	line-height: 15px;
	vertical-align: middle;
	margin: 0px;
	padding: 8px;
	height: 0;

	background: #e6e3e1; /* Old browsers */
	background: -moz-linear-gradient(top, #e6e3e1 0%, #e6e3e1 50%, #dddad8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e3e1), color-stop(50%,#e6e3e1), color-stop(100%,#dddad8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e3e1 0%,#e6e3e1 50%,#dddad8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e3e1 0%,#e6e3e1 50%,#dddad8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e3e1 0%,#e6e3e1 50%,#dddad8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e6e3e1 0%,#e6e3e1 50%,#dddad8 100%); /* W3C */
		
	border: 1px solid #a7a6a2;
	#border-left: 1px double #8b8983;
	box-shadow:inset 1px 1px 0px 0px #f9f8f7
}

.grid-view table thead th, .grid-view table thead th a {
	font-size: 16px;	
	color: #008dd6;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);	
	font-weight: normal;
}

.grid-view table thead {	
	border-top: 1px solid #8b8983;
	border-bottom: 1px double #8b8983;		
}

.grid-view table.items th a.sort-link.asc {
	background: url('/images/design/blue-down.png');
}

.grid-view table.items th a.sort-link.desc {
	background: url('/images/design/blue-up.png');
}

.grid-view table.items th a.sort-link.asc, .grid-view table.items th a.sort-link.desc
	{
	padding-right: 10px ;
	background-position: right;
	text-align: center;
	background-repeat: no-repeat;
}

.grid-view table.items th a.sort-link.asc .icon-sort-down, .grid-view table.items th a.sort-link.desc .icon-sort-up
	{
	background: url('/images/design/blue-up.png');
	background: none ;
}

.grid-view table.items th a {
	margin-right: 0px ;
}

.grid-view table.items td:first-child, .grid-view table.items th:first-child
	{
	padding-left: 8px ;
}

.grid-view table.items td:last-child, .grid-view table.items th:last-child
	{
	padding-right: 8px ;
}
