/*Main css file. It exists across all project*/
html, body {
    height: 100%;
}

.main {
    min-height: 100%;
    margin-bottom: -60px;
}

body {
    min-width: 1000px;
}
.header-buffer {
    height: 51px;
}

.footer-buffer {
    height: 60px;
}

#footer {
    padding: 10px;
}

a{
    cursor: pointer;    
}

.dropdown-menu.left {
    left: auto;
    right: 0;
}
.dropdown-menu.right {
    left: 0;
    right: auto;
}
.tooltip-inner {
    white-space:pre-wrap;
}

.modal form {
    margin:0px;
}
.clear {
    clear: both;
}

.hideCB input{
    display:none
}