.table thead th {
    font-weight: normal;
    padding: 12px 0;
    max-height: 60px;
}

.grid-view table.items td:first-child, .grid-view table.items th:first-child {
    padding-left:  25px;
}
.grid-view table.items td:last-child, .grid-view table.items th:last-child {
    padding-right: 25px;
}
.grid-view table.items th:hover a:after {
    background: none;
}


.main-content .grid-view {
    padding: 0;
}
.main-content .grid-view .items tbody, .main-content .grid-view .items tfoot {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content .grid-view .items tfoot {
    border-top: 1px solid #d8d8d8;
    background: #f7f7f7f; /* Для старых браузров */
    background: -moz-linear-gradient(bottom, #fff, #f7f7f7); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(bottom, #fff, #f7f7f7);
    background: -o-linear-gradient(bottom, #fff, #f7f7f7);
    background: -ms-linear-gradient(bottom, #fff, #f7f7f7);
    background: linear-gradient(bottom, #fff, #f7f7f7);
}

.main-content .grid-view .items thead {
    font-size:16px;
    color: #2b98e6;
    font-weight: normal;
}
.main-content .pagination {
    margin: 0;
    float: left;
}

.pagination .prev:before {
    content: '..';
    position: absolute;
    margin-top: 4px;
    margin-left: -4px;
    //display: inline;
}

.pagination .next:after {
    content: '..';
    position: absolute;
    margin-top: 4px;
    margin-left: -4px;
    //display: inline;
}

.visited {

}

.gwfooter {
    height: 46px;
    padding: 18px 1px 0 15px;

}
.table .even{
    background: #fff;
    border-top: 1px solid #fff;
}
.table .odd{
    border-top: 1px solid #f4f1f3;
    background: #eeeeec; /* Для старых браузров */
    background: -moz-linear-gradient(left, #eeeeec, #f2f6f7 21%, #f7f6f5 50%, #f7f7f2 83%, #eeeeec); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    /*background: -webkit-linear-gradient(left, #eeeeec, #f2f6f7 21%, #f7f6f5 50%, #f7f7f2 83%, #eeeeec);*/
    background: -o-linear-gradient(left, #eeeeec, #f2f6f7 21%, #f7f6f5 50%, #f7f7f2 83%, #eeeeec); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #eeeeec, #f2f6f7 21%, #f7f6f5 50%, #f7f7f2 83%, #eeeeec); /* IE10 */
    background: linear-gradient(left, #eeeeec, #f2f6f7 21%, #f7f6f5 50%, #f7f7f2 83%, #eeeeec); /* CSS3 */ 
}
.table th, .table td {
    border-top: none;
}
.table th {
    height: 24px;
}
.table td {
    line-height: 30px;
}
.grid-view table.items tr.selected td {
    line-height: 30px;
}
.grid-view {
    overflow-x: scroll;
}
.grid-view table.items{
    margin-bottom: 0;
}
.grid-view table tbody {
    white-space: nowrap;
}
.grid-view table.items tr.selected{
    background: #b3d9f4; /* Для старых браузров */
    background: -moz-linear-gradient(left, #b3d9f4, #d5eafa 94%); /* Firefox 3.6+ */
    /* Chrome 10+, Safari 5.1+ */
    /* background: -webkit-linear-gradient(left, #b3d9f4, #d5eafa 94%);*/
    background: -o-linear-gradient(left, #b3d9f4, #d5eafa 94%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #b3d9f4, #d5eafa 94%); /* IE10 */
    background: linear-gradient(left, #b3d9f4, #d5eafa 94%); /* CSS3 */ 
}
.grid-view table.items tr.selected td{
    border-top: 1px solid #6eafdd;
    border-bottom: 1px solid #6eafdd;
    background: transparent;
}


/*Pagination*/
.pagination{
    font-size: 16px;
}
.pagination ul {
    box-shadow:none;
}
.pagination ul > li > a, .pagination ul > li > span {
    color: #41454a;
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-left-width: 0;
}

.pagination ul > li > a > img {
    padding-bottom: 4px;
}
.pagination ul > .active > a, .pagination ul > .active > span {
    color: #2b98e6;
    background-color: transparent;
    cursor: default;
}
.pagination ul > li > a:hover{
    background-color: transparent;
}



.grid-view table.items th a.sort-link.asc .icon-sort-down,
.grid-view table.items th a.sort-link.desc .icon-sort-up  {
    /*position: relative;*/
    position: absolute;
    width: 13px;
    height: 9px;
    right: -14px;
    top:5px;
    bottom: 5px;
    background-repeat: no-repeat;
    display: inline-block !important;
}


.grid-view table.items th a.sort-link.asc .icon-sort-down {
    background: url('/images/design/blue-down.png');
}

.grid-view table.items th a.sort-link.desc .icon-sort-up {
    background: url('/images/design/blue-up.png');
}

.grid-view thead .designed-select {
    margin: 0px;
}

.grid-view table.items th a {
    margin-right: 25px;
}