@CHARSET "UTF-8";

.c_nodep a {
	color: maroon;
	font-weight: bold;
}

.c_nodep {
	color: maroon;
	font-weight: bold;
}

.c_superuser {
	text-decoration: underline;
}

.wikilink {
	background-image: url("/images/help.png");
	background-repeat: no-repeat;
	display: inline-block;
	float: right;
	width: 32px;
	height: 32px;
}

.wikihelp {
	background-image: url("/images/ic_help.png");
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: -5px;
	margin-right: 8px;
}

.effect8 {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px
		rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1)
		inset;
}

.effect8:before, .effect8:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	top: 10px;
	bottom: 10px;
	left: 0;
	right: 0;
	-moz-border-radius: 100px/10px;
	border-radius: 100px/10px;
}

.effect8:after {
	right: 10px;
	left: auto;
	-webkit-transform: skew(8deg) rotate(3deg);
	-moz-transform: skew(8deg) rotate(3deg);
	-ms-transform: skew(8deg) rotate(3deg);
	-o-transform: skew(8deg) rotate(3deg);
	transform: skew(8deg) rotate(3deg);
}