.main-content .summary {
    float: right;
    font-size: 14px;
    color: #9496b0;
    line-height: 32px;
}
.summary:after{
    content:' ';
    float: right;
    margin-top: -5px;
    width:74px;
    height: 40px;

    background: url('/images/design/logo.png')  top center no-repeat;

}